--extra-index-url https://download.pytorch.org/whl/cpu
fastapi==0.109.0
uvicorn==0.27.0
pandas==2.1.4
networkx==3.2.1
numpy==1.26.3
torch==2.1.2+cpu
torch-geometric==2.4.0
python-dotenv==1.0.0
web3==6.15.1
pydantic==1.10.13